/******************* Global ******************* */
/* line 3, ../_sass/style.sass */
body {
  /*background-color:#a6bf79; */
  /*background:#D99966; */
  /*background-color:#BE6734; */
  /*background: #BE6734 url('../images/FVTS background.jpg') repeat center center; */
  background-color: #444444;
  color: black;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 10px 10px;
  padding: 0px;
}

/* line 15, ../_sass/style.sass */
.clear {
  clear: both;
}

/* line 18, ../_sass/style.sass */
* {
  margin: 0px;
  padding: 0px;
}

/* line 22, ../_sass/style.sass */
a {
  font-size: 12px;
}

/* line 25, ../_sass/style.sass */
p {
  margin: 15px 0px;
}

/* line 28, ../_sass/style.sass */
ul {
  list-style-type: none;
}

/* line 31, ../_sass/style.sass */
img {
  border-width: 0px;
}

/* line 34, ../_sass/style.sass */
h1 {
  color: black;
  font-size: 14px;
  margin: 20px 0px 0 0px;
  text-shadow: 0 1px 1px #bbbbbb;
}

/* line 40, ../_sass/style.sass */
h2 {
  color: black;
  font-size: 12px;
  margin: 30px 0 0 0;
  text-shadow: 1px 1px 4px #bbbbbb;
}

/* line 46, ../_sass/style.sass */
h3 {
  color: black;
  font-size: 12px;
  margin: 30px 0 0 0;
  text-shadow: 1px 1px 4px #bbbbbb;
}
/* line 51, ../_sass/style.sass */
h3#subtitle {
  margin-top: 3px;
  /*margin-left: 13px; */
  font-style: italic;
}

/* line 56, ../_sass/style.sass */
td {
  padding-right: 7px;
  padding-top: 7px;
  vertical-align: top;
}

/********************* Header ************************** */
/* line 63, ../_sass/style.sass */
#header {
  /*background-image:url(../images/header.jpg); */
  background: url(../images/header.gif) no-repeat scroll 0 84px transparent;
  height: 288px;
  margin: 0px 0px 0px 0px;
  position: relative;
  width: 717px;
}
/* line 70, ../_sass/style.sass */
#header ul {
  /*background-color:#85a157; */
  /*background-color:#85a157; */
  background-color: #d17428;
  border: 3px solid white;
  display: block;
  height: 22px;
  margin: 0px 0px 0px 0px;
  padding: 5px 0px 0px 0px;
  position: absolute;
  text-align: center;
  top: 255px;
  width: 711px;
}
/* line 83, ../_sass/style.sass */
#header li {
  display: inline;
  padding: 5px 25px 12px;
  margin: 0;
}
/* line 87, ../_sass/style.sass */
#header li:hover, #header li.selected {
  /*background: #3d4a28; */
  /*background: #caf584; */
  background: #e7e7de;
  color: #cccccc;
  border-left: 2px solid white;
  border-right: 2px solid white;
}
/* line 94, ../_sass/style.sass */
#header li:hover a, #header li.selected a {
  color: black;
}
/* line 96, ../_sass/style.sass */
#header ul a {
  color: white;
  margin: 0px 20px;
  text-decoration: none;
  text-shadow: 0 1px 1px #444444;
}

/*#header li:hover {
 *	background-color: #DE9D68;
 *	padding: 5px 25px 8px;
 *} */
/*#header li.selected:hover {
 *	background: #e7e7de;
 *	padding: 5px 27px 12px;
 *	color: #ccc;
 *} */
/*#header ul a:hover { */
/*color:#28556b; */
/*text-decoration: none; */
/*text-shadow: none; */
/*position: relative; */
/*left: 2px; */
/*top: -1px; */
/*} */
/*#header li.selected a:hover { */
/*color:#28556b; */
/*text-decoration:none; */
/*left: 0; */
/*top: 0; */
/*} */
/* line 128, ../_sass/style.sass */
#logo_w1 {
  font-family: Copperplate, "Copperplate Gothic Light", Verdana, Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: lighter;
  color: white;
  /*text-shadow: 0 2px 2px #ccc; */
  position: absolute;
  left: 30px;
  /*top:15px; */
  top: 44px;
}

/* line 139, ../_sass/style.sass */
#logo_w2 {
  left: 54px;
  top: 44px;
}

/* line 143, ../_sass/style.sass */
#header_text {
  left: 43px;
  position: absolute;
  top: 90px;
  width: 265px;
}
/* line 148, ../_sass/style.sass */
#header_text p {
  color: white;
  font-size: 18px;
  text-shadow: 2px 2px 2px black;
}
/* line 152, ../_sass/style.sass */
#header_text a {
  color: #28556b;
}
/* line 154, ../_sass/style.sass */
#header_text a:hover {
  color: #c77e0c;
}

/* line 157, ../_sass/style.sass */
#header img {
  position: absolute;
  right: 24px;
  bottom: 77px;
  height: 183px;
}

/********************* Content ************************** */
/* line 165, ../_sass/style.sass */
#container {
  margin: 0px auto;
  text-align: left;
  width: 717px;
}

/* line 170, ../_sass/style.sass */
#content {
  background-image: url(../images/content_bg.gif);
  width: 717px;
  position: relative;
  min-height: 463px;
  _height: 463px;
}
/* line 176, ../_sass/style.sass */
#content li {
  margin: 3px 15px;
  padding-left: 0;
}
/* line 179, ../_sass/style.sass */
#content p {
  text-align: justify;
}

/* line 182, ../_sass/style.sass */
.home_date, .sidebar_date, .event_date {
  display: none;
}

/* line 185, ../_sass/style.sass */
#left .home_date {
  display: inline;
  font-weight: bold;
}

/* line 189, ../_sass/style.sass */
#right .sidebar_date {
  display: inline;
}

/* line 193, ../_sass/style.sass */
#full .event_date {
  display: inline;
}
/* line 195, ../_sass/style.sass */
#full .full_address {
  display: none;
}

/* line 198, ../_sass/style.sass */
.event {
  position: relative;
  clear: both;
}
/* line 201, ../_sass/style.sass */
.event h2, .event h3 {
  margin: 0;
}
/* line 203, ../_sass/style.sass */
.event h4 {
  margin-bottom: 7px;
}
/* line 205, ../_sass/style.sass */
.event div {
  float: left;
  padding-right: 12px;
}
/* line 208, ../_sass/style.sass */
.event div.event_pic {
  left: 0;
  top: 0;
}
/* line 211, ../_sass/style.sass */
.event div.event_description {
  left: 151px;
  top: 0;
  width: 390px;
}
/* line 215, ../_sass/style.sass */
.event div.event_location {
  max-width: 130px;
  right: 0;
}

/* line 219, ../_sass/style.sass */
#left, #right, #full {
  min-height: 413px;
  _height: 413px;
}

/* line 223, ../_sass/style.sass */
#left {
  float: left;
  width: 428px;
  margin-left: 27px;
  margin-top: 10px;
  padding: 0px 10px 30px 0px;
  display: inline;
  border-right: white 2px solid;
}
/* line 231, ../_sass/style.sass */
#left a {
  color: #28556b;
}
/* line 233, ../_sass/style.sass */
#left a:hover {
  color: #7a4417;
}
/* line 235, ../_sass/style.sass */
#left #staytuned {
  position: absolute;
  top: 0;
  left: 3px;
  z-index: 100;
}
/* line 240, ../_sass/style.sass */
#left h2 {
  font-size: 14px;
}
/* line 242, ../_sass/style.sass */
#left h4, #left .event_pic, #left .when_where {
  display: none;
}

/* line 245, ../_sass/style.sass */
#right {
  float: right;
  width: 210px;
  padding: 0px 20px 20px 20px;
  margin-top: 10px;
}
/* line 250, ../_sass/style.sass */
#right .event_pic {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}
/* line 254, ../_sass/style.sass */
#right img {
  float: right;
}
/* line 256, ../_sass/style.sass */
#right a {
  color: #d17428;
  text-decoration: none;
  font-weight: bold;
}

/* line 261, ../_sass/style.sass */
#full a {
  color: #d17428;
  text-decoration: none;
  font-weight: bold;
}

/* line 266, ../_sass/style.sass */
#right a:hover, #full a:hover {
  color: black;
  text-decoration: underline;
}

/* line 270, ../_sass/style.sass */
#right h3 {
  /*color:#85a157; */
  color: #7a4417;
  font-size: 14px;
  text-align: center;
  width: 200px;
  margin: 10px 0px 15px 0px;
}

/* line 278, ../_sass/style.sass */
#full {
  float: left;
  margin: 10px 27px 0 27px;
  padding: 0px 10px 30px 0;
  display: inline;
}
/* line 283, ../_sass/style.sass */
#full h1 {
  color: #7a4417;
  font-size: 150%;
  margin-top: 30px;
  text-align: center;
}
/* line 288, ../_sass/style.sass */
#full h2 {
  margin-top: 20px;
}
/* line 290, ../_sass/style.sass */
#full h3 {
  font-size: 100%;
  font-style: italic;
  color: #444444;
}

/* line 295, ../_sass/style.sass */
#photos a {
  margin-right: 14px;
}

/* line 298, ../_sass/style.sass */
#follow_us {
  position: absolute;
  bottom: 15px;
  right: 55px;
}

/* line 303, ../_sass/style.sass */
#map, .time, .location {
  font-size: smaller;
}

/* line 306, ../_sass/style.sass */
.event {
  margin: 2em 0.3em;
  min-height: 66px;
  _height: 66px;
}

/* line 312, ../_sass/style.sass */
#speaker img {
  /*height: 102px; */
  padding: 10px 10px 10px 0;
  float: left;
}
/* line 316, ../_sass/style.sass */
#speaker > p {
  margin-top: 5px;
}

/* line 319, ../_sass/style.sass */
#bio_switch {
  display: none;
  font-size: smaller;
}

/* line 323, ../_sass/style.sass */
.when_where {
  width: 12em;
}

/* line 326, ../_sass/style.sass */
span.when_where {
  font-weight: bold;
}

/* line 329, ../_sass/style.sass */
.event_description {
  width: 425px;
  text-align: justify;
}

/*#previous_events .event_description { width: auto; } */
/*#previous_events .when_where { display: none; } */
/********************* Footer ************************** */
/* line 338, ../_sass/style.sass */
#footerline {
  clear: both;
  background-image: url(../images/footer_bg.gif);
  font-size: 1px;
  height: 10px;
}

/* line 344, ../_sass/style.sass */
#footer {
  color: white;
  padding: 20px 0px;
  text-align: center;
  text-shadow: 1px 1px 4px #bbbbbb;
  width: 717px;
}
/* line 350, ../_sass/style.sass */
#footer a {
  color: white;
}
